#include "main.h"

MAINMENU MENU 
{
 POPUP "文件"
 {
  MENUITEM "打开", CM_FILE_OPEN
  MENUITEM "另存为", CM_FILE_SAVEAS
  MENUITEM SEPARATOR
  MENUITEM "退出", CM_FILE_EXIT
 }

 POPUP "帮助"
 {
  MENUITEM "关于", CM_ABOUT
  MENUITEM "作者个人主页" , CM_HOMEPAGE
 }
}

